<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #container{
            display: flex;
            align-items: center;

        }
        #container img{
            margin-right: 50px;
        }
    </style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>T Mail</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="m-4">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-pill">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">T Mail</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link active">Dashboard</a>
                <a href="#" class="nav-item nav-link active">About Us</a>
            </div>
            <div class="navbar-nav ms-auto">              	
                <a href="login" class="nav-item nav-link active">Login</a>
              	<a href="register" class="nav-item nav-link active">Register</a>
            </div>
        </div>
    </div>
</div>
</nav>
<div id="container">
    <img src="images/landing.webp" alt="">
    <h1>Welcome to T Mailer</h1>
</div>
</body>
</html>